body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: beige;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2rem;
}

.upload-section {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

header {
    background-color: lightgreen;
    color: #151414;
    padding: 20px 0;
    border: bottom #dd6b3d;;
  }


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#fileInput {
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#recipesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.recipe:hover {
    transform: translateY(-5px);
}

.recipe h2 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.recipe a {
    color: #007bff;
    text-decoration: none;
}

.recipe a:hover {
    text-decoration: underline;
}

.recipe img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
